@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* gradient for top navbar */
  .gradient {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .side-padding {
    @apply px-2 sm:px-6;
  }

  .top-margin {
    @apply mt-2 sm:mt-6;
  }

  .button {
    @apply bg-indigo-400 text-white rounded-lg px-8 py-4 relative font-semibold min-w-max w-full;
  }
}

@layer base {
  :root {
    --header-height: 4.375rem;
    --mobile-menu-height: 3.75rem;
  }

  body {
    overflow-y: scroll;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}